<h1><%=Pirate.all.collect do |element|
  "<p>Pirate Name: #{element.name}<br>" + " Pirate Height: #{element.height}<br>" + " Pirate Weight: #{element.weight}<br></p>"
end.first %></h1>

<h2><%=" Ship Name: #{Ship.all[0].name}" + " Ship Height: #{Ship.all[0].booty}" + " Ship Weight: #{Ship.all[0].type}" %></h2>

<h2><%=" Ship Name: #{Ship.all[1].name}" + " Ship Height: #{Ship.all[1].booty}" + " Ship Weight: #{Ship.all[1].type}" %></h2>
