<h1>Display your Pirate here</h1>
<%=Pirate.all.collect do |element|
  " Pirate Name: #{element.name}" + " Pirate Height: #{element.height}" + " Pirate Weight: #{element.weight}"
end.first %>

<h2>Display your first ship here</h2>
<%=Pirate.all.first.ships.collect do |element|
  " Ship Name: #{element.name}" + " Ship Height: #{element.height}" + " Ship Weight: #{element.weight}"
  end.first %>

<h2>Display your second ship here</h2>
<%=Ship.all[0].name%>
