<h1>Display your Pirate here</h1>
<%=Pirate.all.collect do |element|
  " Pirate Name: #{element.name}" + " Pirate Height: #{element.height}" + " Pirate Weight: #{element.weight}"
end.first %>

<h2>Display your first ship here</h2>
<%=" Ship Name: #{Ship.all.name}" + " Ship Height: #{Ship.all.booty}" + " Ship Weight: #{Ship.all.type}" %>

<h2>Display your second ship here</h2>
<%=Ship.all[0].name%>
