<h1>Display your Pirate here</h1>
<%=Pirate.all.collect do |element|
  "Name: #{element.name}"
  "Weight: #{element.weight}"
  "Height: #{element.height}"%>

<h2>Display your first ship here</h2>
<%=Ship.all.first.name%>

<h2>Display your second ship here</h2>
<%=Ship.all[0].name%>
